/* Create modal */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
    z-index: 3;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    width: 40%;
    /* Could be more or less, depending on screen size */
    padding: 5vw;
    border-radius: 16px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Labels and input */

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

td {
    padding: 8px 16px 8px 16px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

th {
    padding: 8px 16px 8px 16px;
}

table {
    border-collapse: collapse;
    width: 80%;
    display: none;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 26px;
    padding: 24px;
}

h1 {
    text-align: center;
    font-weight: 900;
    font-size: 24pt;
}

h2 {
    margin-top: 24px;
}

p {
    max-width: 500px;
}

.card-blue {
    background: linear-gradient(277.49deg, #0C77C6 0%, #439EDF 101.38%);
    color: #fff;
    padding: 24px;
    border-radius: 26px;
    height: 72px;
    width: 240px;
    font-size: 14pt;
    font-weight: 700;
    margin-right: 12px;
    margin-top: 12px;
    vertical-align: bottom;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.card-blue:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.cards-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 12px;
}

#big-number {
    font-weight: 900;
    font-size: 40pt;
    margin: 12px 0px 0px 0px;
    color: var(--primary);
}

#info-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

#popup-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: none;
    overflow-y: scroll;
    z-index: 2;
}

.btn {
    background-color: #fff;
    color: var(--primary);
}

/* Mobile layout */
@media only screen and (max-width: 600px) {
    .modal-content {
        width: 80%;
    }

    .cards-holder {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-blue {
        width: 80%;
        margin: 12px 0px 12px 0px;
    }

    #info-summary {
        width: 80%;
        justify-content: center;
    }

    #popup-table {
        width: 100%;
    }
}