/* .column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.column-self {
    width: 40vw;
    margin: 0 auto;

} */

.body-contract {
    max-width: 800px;
    margin: 0 auto;
    padding: 24px;
    border-radius: 16px;
    border: 1px solid black;
}

.agree {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.agree input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.agree label {
    display: inline-block;
    margin-right: 10px;
}

/* Lockers */

.lockers-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
}

.locker {
    width: 60px;
    height: 120px;
    min-width: 60px;
    min-height: 120px;
    background-color: #ddd;
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px black;
    transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    user-select: none;
    transform: scale(0.9);
}

.locker-number {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.locker-status {
    background-color: #f44336;
    padding: 4px;
    border-radius: 4px;
    border: solid 1px black;
}

.locker-status span {
    color: white;
}

.locker-selected {
    border: solid 2px black;
    box-shadow: 0 2 4px rgba(0, 0, 0, 0.5);
    transform: scale(1);
}

.locker-disabled {
    opacity: 0.5;
    pointer-events: none;
}

.locker-new {
    background-color: var(--primary);
    color: white;
    border: solid 1px black;
    text-align: center;
    font-weight: bold;
}

#newLockerNumber {
    border: none;
    border-bottom: solid 2px white;
    border-radius: 0px;
    margin-bottom: 10px;
    padding: 0px;
    text-align: center;
    background-color: transparent;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

#newLockerNumber:focus {
    outline: none;
}

#newLockerNumber::placeholder {
    color: white;
    opacity: 0.5;
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
}

.plans-holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

/* Plans */

.plans {
    border-radius: 24px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.plans-holder input {
    display: none;
}

input[type="radio"]+label {
    background-color: #ddd;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 24px;
    color: black;
    user-select: none;
}

input[type="radio"]:checked+label {
    background-color: var(--secondary);
    color: white;
}

.plan-name {
    padding: 12px;
    background-color: #ddd;
    border-radius: 24px 24px 0 0;
    color: black;
    text-align: center;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="radio"]:checked+label .plan-name {
    background-color: var(--secondary);
    color: white;
}

.plan-name h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.plan-name span {
    font-size: 12px;
    margin-bottom: 10px;
}

.plan-price {
    font-size: 12px;
    background-color: white;
    border-radius: 24px;
    padding: 24px;
    border-top: solid 1px black;
    color: black;
}

.plan-price span {
    font-size: 24px;
    font-weight: bold;
}

.subsection h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 4px;
}

.subsection p {
    margin: 0;
    margin-bottom: 12px;
}

/* Form styles */

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
}

.buttons {
    text-align: left;
}

.radio-group {
    margin-bottom: 10px;
    display: inline-block;
}

.radio-group>label {
    display: inline-block;
    margin-right: 10px;
}

.inline {
    display: inline;
}

.inline>input {
    display: inline;
    width: auto;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 50%;
    border-radius: 16px;
    margin-bottom: 200px;
}

@media screen and (max-width: 600px) {
    .column {
        flex-direction: column-reverse;
    }

    .column-self {
        width: 90%;
    }

    .modal-content {
        width: 90%;
    }
}

.warning-banner {
    background-color: #f44336;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: -32px;
    margin-bottom: 24px;
    border-radius: 16px;
    border: 1px solid black;
}

.summary p {
    margin: 0;
    margin-bottom: 4px;
    font-weight: bold;
}

.summary span {
    font-weight: normal;
}