table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}

td {
    padding: 8px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#loading {
    font-size: large;
    font-weight: bold;
    text-align: center;
    padding: 5vw;
}

#lockers-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 12px;
}

.locker {
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    user-select: none;
    animation: fadeInUp 0.3s ease-in-out;
    height: 52px;
}

.locker-info h3 {
    font-size: 1.2rem;
    font-weight: 900;
    margin: 0;
}

.locker-status p {
    font-size: 0.8rem;
    margin: 0;
    text-align: center;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.button-title {
    margin-top: 32px;
    background-color: white;
    color: var(--secondary);
    border: solid 1px var(--secondary);
    border-radius: 8px;
    padding: 12px 20px 12px 20px;
    font-size: 0.8rem;
    font-weight: 600;
}