.info {
    max-width: 600px;
    margin: 0 auto;
}

.info-title {
    font-weight: 900;
    margin: 0;
}

.info-data {
    margin: 0;
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    font-weight: 700;
}

.info-data span {
    font-weight: 400;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}

.button-container button {
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--secondary);
    border: 1px solid black;
}

.button-container button:hover {
    background-color: var(--primary);
    color: #fff;
}

.button-container .danger {
    background-color: #ff0000;
    border: 1px solid #ff0000;
    color: #fff;
}

.button-container .danger:hover {
    background-color: #ff0000;
    border: 1px solid #ff0000;
    color: #fff;
}

.modal-body .info-data {
    margin-bottom: 0;
    padding: 0;
    border: none;
    display: flex;
    flex-direction: column;
}

.modal-body .info-data input {
    padding: 8px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    font-weight: 400;
}

.modal-body .info-data input:focus {
    outline: none;
    border: 1px solid var(--primary);
}

.modal-body .info-data input::placeholder {
    font-weight: 400;
}

.modal-body .info-data select {
    padding: 8px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    font-weight: 400;
    margin-bottom: 8px;
}

.modal-body .info-data select:focus {
    outline: none;
    border: 1px solid var(--primary);
}

.modal-body .info-data select::placeholder {
    font-weight: 400;
}

.modal-body .info-data span {
    font-size: 12px;
    margin-bottom: 8px;
}

.warning {
    background-color: #f44336;
    color: white;
    text-align: center;
    padding: 12px 24px;
    margin: 0 auto 24px auto;
    border-radius: 16px;
    border: 1px solid black;
    max-width: 600px;
    box-sizing: border-box;
    animation: fadeup 0.5s;
}

@keyframes fadeup {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}